fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
pydantic-settings>=2.0.0,<3.0.0
odmantic
motor
langchain
langchain-google-genai
langchain-openai
langchain-core
langchain-community
sqlalchemy
pymysql
pandas
openpyxl
qdrant-client
mysql-connector-python
dishka==1.6.0